.button{
    width: 40%;
    height: 30px;
    margin: 20px 5% 0px 5%;
    border-radius: 10px;
    border: none;
}
.button:hover{
    cursor: pointer;
    color: gray;
}
h3{
    text-align: center;
}
.buttonAccount{
    width: 70%;
    height: 30px;
    margin: 20px 15% 0px 15%;
    border-radius: 10px;
    border: none;
}
.buttonAccount:hover{
    cursor: pointer;
    color: gray;
}