.invalid::before{
    color: rgb(141, 39, 39);
    content: "✖ ";
}
.valid::before{
    color: rgb(9, 180, 95);
    content: "✔ ";
}
.validStatus .invalid{
    color: rgb(141, 39, 39);
    transition: 0.3s;
}
.validStatus .valid{
    color: rgb(9, 180, 95);
    transition: 0.3s;
}
.invalid:hover{
    padding: 6px 10px;
    font-size: 20px;
    cursor: default;
}
.valid:hover{
    padding: 6px 10px;
    font-size: 20px;
    cursor: default;
}
.SignInForm{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(216, 216, 216);
    margin-top: 60px;
    padding: 30px 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.28s;
}
.SignInForm hr{
    margin-left: -30px;
    width: 125%;
    border: 1px white solid;
}
.SignInForm:hover{
    box-shadow: 4px 4px 5px black;
}
.SignInForm #checkbox{
    width: 20px;
    height: 20px;
}
.SignInForm label{
    margin-top: 10px;
}
.SubmitAccount{
    border: none;
    border-radius: 5px;
    height: 30px;
    transition: 0.3s;
    width: 80%;
    margin: 0px 10% 0px 10%;
}
.SubmitAccount:hover{
    background-color: green;
}
h3{
    text-align: center;
    padding-top: 40px;
}